.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.next/
out/
coverage/
dist/
build/

.env
.env.*
!.env.example

.vercel/
.turbo/

*.tsbuildinfo

.idea/
.vscode/

prisma/dev.db
prisma/*.db
prisma/*.db-journal
